:root {
    --BLANCO: #FFF;
    --MANTECA-FONDO: #f8f9fa;
    --GRIS-CLARO:  #F5F5F5;
    --GRIS-INPUT: #bcbcbc;
    --GRIS-OSCURO: #333;
    --NEGRO: #202020;
    --NEGRO08: rgba(0, 0, 0, 0.8);
    --VIOLETA-SOMBRA: #662482;
    --VIOLETA-OSCURO: #3C0753;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.contenedor-general{
    width: 100%; 
    margin: 0;
    padding: 10px;
    background-color: var(--MANTECA-FONDO);
}

/*------------------------------------------------------*/
.stat-card__contenedor-general{
    max-width: 200px;
    min-width: 180px;
    margin: 10px 16px;
    padding: 10px;
    background-color: var(--GRIS-CLARO); 
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);    
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-wrap: wrap;
}

.stat-card__icono{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
